dotfiles/eww/scripts/weather.sh
dotfiles/alacritty/colors.toml
dotfiles/eww/colors.scss
dotfiles/hypr/colors.conf
dotfiles/hyprdecor/assets/cat/cat_base_colored.png
dotfiles/hyprdecor/assets/cat/colors.json
dotfiles/rofi/colors.rasi
dotfiles/waybar/colors.css
dotfiles/hidden/
