@import "./colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "FreeMono";
    font-weight: bold;
    font-size: 1rem;
    min-height: 0;
    color: @secondary;
}

window#waybar {
    border-radius: 0px;
    color: @on_surface;

    /*background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 17px,
        @surface_bright 17px,
        @surface_bright 100%
    );*/
    background-color: rgba(0, 0, 0, 0.2);
}

#taskbar button {
  background-color: transparent;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin:2px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
#taskbar button.active {
  background-color: @surface_tint;
  padding-top: 2px;
  padding-bottom: 2px;
}

tooltip {
  background: @background;
}
tooltip label {
  color: @on_surface;
}

#clock {
    font-size: 25px;
    font-family: 'FreeMono';
    font-style: oblique;

    padding: 10px;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: -7px;
}

#custom-cat-ear {
  background-image: url("/home/agnab/nixos/dotfiles/hidden/desktop icon pngs (Mac)/flower.png");
  background-size: 95% 95%;
  background-repeat: no-repeat;
  font-size: 50px;
  margin-left: 5px;
  margin-top: 0px;
}
#custom-smile {
  background-image: url("/home/agnab/nixos/dotfiles/waybar/smile.png");
  background-size: 75% 50%;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 5px;
}
#custom-divider {
  background-color: @primary;
  font-size: 1px;
  min-height: 2px;
  margin: 4px;
  border-radius: 10px;
}

#battery {
  font-size: 20px;
  margin-right: 5px;
}
#network {
  font-size: 15px;
  margin-bottom: -4px;
  margin-right: 6px;
}
#pulseaudio {
  font-size: 15px;
  margin-right: 6px;
}

#tray {
  background-color: @primary;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#custom-tray-toggle {
  background-color: @primary;
  color: @on_primary;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
